@font-face {
    font-family: poppins;
    src: url('../fonts/Poppins-Regular.ttf');
}
@font-face {
    font-family: poppinsBold;
    src: url('../fonts/Poppins-Bold.ttf');
}
*{
    font-family: poppins;
    margin: 0;
    color: white;
    padding: 0;
}
body{
    height: 100vh;
    display: flex;
    overflow-x: hidden;
    width: 100%;
    align-items: center;
    text-align: center;
    background-color: #000;
    overflow-y: hidden;
}
input{
    padding: 15px;
    color: #1D1D1D;
    font-size: 22px;
}
button{
    transition: all 0.8s ease;
}
button:hover{
    transform: scale(1.5);
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}